<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABPf_VBC22qmwMGJztYB0BCtwWZjGECqo</string>
	<key>GCM_SENDER_ID</key>
	<string>876937112371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.itpVoice</string>
	<key>PROJECT_ID</key>
	<string>itpvoice-9ea83</string>
	<key>STORAGE_BUCKET</key>
	<string>itpvoice-9ea83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876937112371:ios:f7414eb5c638472192ec46</string>
</dict>
</plist>